@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap+Sharp');

/*

use font families

font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Teko', sans-serif;
*/

.login-nav-btn {
    font-size: 15px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    background: none;
    color: red;
    transition: 0.5s;
}

.login-nav-btn:hover {
    background-color: red;
    color: white;
}

.footer {
    text-align: center;
    background-color: rgb(248, 248, 248);
    padding-bottom: 15px;
}

.footer hr {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.home-body {
    text-align: center;
    padding-top: 50px;
}

.home-body .title {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 45px;
}

.home-body .content {
    font-size: 30px;
}

.home-body .quiz-img {
    height: 75%;
    width: 75%;
}

.login-content {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 600px;
    margin-right: 600px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 500px;
}

.login-content .title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.login-content .body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.login-content .body form table .login-input {
    width: 380px;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
}

.login-content .body form table .login-btn {
    width: 100%;
    margin-top: 15px;
    height: 50px;
    border: 1px solid rgb(40, 40, 255);
    color: rgb(40, 40, 255);
    border-radius: 2px;
    background-color: none;
    transition: 0.5s;
    cursor: pointer;
}

.login-content .body form table .login-btn:hover {
    background-color: rgb(63, 63, 243);
    color: white;
}

.reg-content {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 600px;
    margin-right: 600px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 500px;
}

.reg-content .title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.reg-content .body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

.reg-content .body form table .reg-input {
    width: 380px;
    height: 50px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
}

.reg-content .body form table .reg-clear-btn {
    width: 49%;
    margin-top: 15px;
    height: 50px;
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    border-radius: 2px;
    background-color: none;
    transition: 0.5s;
    cursor: pointer;
}

.reg-content .body form table .reg-clear-btn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.reg-content .body form table .reg-btn {
    width: 49%;
    margin-top: 15px;
    height: 50px;
    border: 1px solid rgb(40, 40, 255);
    color: rgb(40, 40, 255);
    border-radius: 2px;
    background-color: none;
    transition: 0.5s;
    cursor: pointer;
}

.reg-content .body form table .reg-btn:hover {
    background-color: rgb(63, 63, 243);
    color: white;
}

.waiting-content {
    padding-top: 50px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.waiting-title {
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}

.waiting-body {
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

.logout-btn-nav {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
    background: none;
    border: 1px solid red;
    transition: 0.5;
    border-radius: 5px;
}

.logout-btn-nav:hover {
    background-color: red;
    color: white;
}

.pending {
    font-size: 12px;
    padding: 2px;
    background-color: red;
}

.home-img {
    background-image: url("../images/675928.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.home-title {
    padding-top: 50px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.home-grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d" "e f g h";
    padding: 45 45 45 45;
}

.grid-item1 {
    background-image: url("../images/outside.jpg");
    transition: 0.5s;
}

.grid-item2 {
    background-image: url("../images/engine.jpg");
    transition: 0.5s;
}

.grid-item3 {
    background-image: url("../images/maths.jpg");
    transition: 0.5s;
}

.grid-item4 {
    background-image: url("../images/robot.jpg");
    transition: 0.5s;
}

.grid-item5 {
    background-image: url("../images/sport.jpg");
    transition: 0.5s;
}

.grid-item6 {
    background-image: url("../images/poliution.jpg");
    transition: 0.5s;
}

.grid-item7 {
    background-image: url("../images/mind.jpg");
    transition: 0.5s;
}

.grid-item8 {
    background-image: url("../images/it.jpg");
    transition: 0.5s;
}

.grid-item1:hover {
    text-align: center;
    padding-top: 40%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item2:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item3:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item4:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item5:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item6:hover {
    text-align: center;
    padding-top: 40%;
    color: black;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item7:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item8:hover {
    text-align: center;
    padding-top: 40%;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8 {
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.comment {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgb(243, 243, 243);
}

.comment .title {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 45px;
    padding-bottom: 15px;
    text-align: center;
}

.comment-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c";
    padding: 45 45 45 45;
}

.comment1,
.comment2,
.comment3 {
    width: 100%;
    height: 100%;
    background: none;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}

.comment1 {
    border: 1px solid rgb(29, 152, 235);
}

.comment2 {
    border: 1px solid #50be50;
}

.comment3 {
    border: 1px solid #f09712;
}

.usern {
    font-size: 20px;
    font-weight: bold;
}

.user-roll {
    font-size: 13px;
}

.partner {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.partner .title {
    text-align: center;
    font-size: 40px;
}

.partner-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d e f";
}

.partner-grid .p-item1,
.p-item2,
.p-item3,
.p-item4,
.p-item5,
.p-item6 {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.partner-grid .p-item1 {
    background-image: url("../images/logo1.png");
}

.partner-grid .p-item2 {
    background-image: url("../images/logo3.png");
}

.partner-grid .p-item3 {
    background-image: url("../images/logo4.png");
}

.partner-grid .p-item4 {
    background-image: url("../images/logo5.png");
}

.partner-grid .p-item5 {
    background-image: url("../images/logo6.png");
}

.partner-grid .p-item6 {
    background-image: url("../images/logo7.png");
}

.pass-reset-email {
    width: 600px;
    border: 1px solid rgb(214, 214, 214);
    margin-left: 250px;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.pass-reset-email .title {
    font-size: 40px;
    margin-bottom: 15px;
}

.pass-reset-email form .form-topics {
    font-size: 20px;
}

.pass-reset-email form .pass-reset {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    margin-bottom: 15px;
}

.pass-reset-email form .otp-btn {
    width: 100%;
    height: 40px;
    color: red;
    background: none;
    border: 1px solid red;
    border-radius: 5px;
    transition: 0.5s;
}

.pass-reset-email form .otp-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.verify-otp {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
    border: 1px solid rgb(206, 206, 206);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-left: 250px;
}

.verify-otp .title {
    font-size: 35px;
    padding-bottom: 25px;
}

.verify-otp form .otp-num {
    font-size: 20px;
}

.verify-otp form .otp-input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.verify-otp form .verify-btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    background: none;
    transition: 0.5s;
}

.verify-otp form .verify-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.pass-new-edit {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    padding: 60px;
    width: 600px;
    border: 1px solid rgb(212, 212, 212);
}

.pass-new-edit .title {
    font-size: 40px;
    padding-bottom: 15px;
}

.pass-new-edit form .new-pass-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
}

.pass-new-edit form .new-pass-btn {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    border: 1px solid red;
    color: red;
    background: none;
    border-radius: 5px;
    transition: 0.5s;
}

.pass-new-edit form .new-pass-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}


/*

*   laptop Screen size

*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .login-content {
        margin-left: 440px;
        margin-right: 440px;
    }
    .partner-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b c" "d e f";
    }
}


/*

*   ipad - portrait

*/

@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    .login-content {
        margin-left: 320px;
        margin-right: 120px;
    }
    .home-grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d" "e f" "g h";
        padding: 45 45 45 45;
    }
    .comment-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c";
        padding: 45 45 45 45;
    }
    .partner-grid {
        padding-left: 40px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d" "e f";
    }
    .pass-reset-email {
        width: 600px;
        border: 1px solid rgb(214, 214, 214);
        margin-left: 60px;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .verify-otp {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 600px;
        border: 1px solid rgb(206, 206, 206);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 5px;
        margin-left: 50px;
    }
}


/*

*   ipad - landscape 

*/

@media only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
    .login-content {
        margin-left: 250px;
        margin-right: 250px;
    }
}


/*

*   iphone X - portrait 

*/

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .login-content {
        margin-top: 75px;
        margin-bottom: 75px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 5px;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        width: 350px;
    }
    .login-content .body form table .login-input {
        width: 320px;
        height: 50px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 2px;
    }
    .home-grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
        padding: 45 45 45 45;
    }
    .comment-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c";
        padding: 45 45 45 45;
    }
    .partner-grid {
        padding-left: 40px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    }
    .pass-reset-email {
        width: 300px;
        border: 1px solid rgb(214, 214, 214);
        margin-left: 20px;
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .verify-otp {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 300px;
        border: 1px solid rgb(206, 206, 206);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 5px;
        margin-left: 20px;
    }
}


/*

*   iphone X - landscape 

*/

@media screen and (min-width: 811px) and (max-width: 812px) {
    .login-content {
        margin-left: 150px;
        margin-right: 150px;
    }
    .home-grid {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d" "e f" "g h";
        padding: 45 45 45 45;
    }
    .comment-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c";
        padding: 45 45 45 45;
    }
    .partner-grid {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    }
}
