@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kdam+Thmor+Pro&family=Roboto+Flex:opsz@8..144&family=Rubik&family=Teko:wght@300&display=swap');

/*

use font families

font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Teko', sans-serif;
*/

.login-nav-btn {
    font-size: 15px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    background: none;
    color: red;
    transition: 0.5s;
}

.login-nav-btn:hover {
    background-color: red;
    color: white;
}

.footer {
    text-align: center;
    background-color: rgb(248, 248, 248);
    padding-bottom: 15px;
}

.footer hr {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.home-body {
    text-align: center;
}
